= simple_form_for recipe do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, autofocus: true
  .form-inputs
    = f.input :desc, autofocus: true
  .form-inputs
    = f.input :ingredients, collection: static_ingredients, input_html: { class: "js-example-basic-single" }
  .form-actions
    = f.button :submit, "Save"
