= simple_form_for recipe do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, autofocus: true
  .form-inputs
    = f.input :desc, autofocus: true
  %br
  .form-inputs
    %b
      %ul.ingredients-header Add ingredients:
    = f.input :ingredients, collection: ingredients, label_method: :name,
      value_method: :id, input_html: { class: "js-example-basic-single" }
    = f.input :recipe_products_attributes, as: :hidden, input_html: { value: "[]" }
  .form-actions
    = f.button :submit, "Save"
