<<<<<<< Updated upstream
%h1 Recipe

%b= link_to 'Add a new recipe', new_recipe_path
%br
%p#notice= notice
%p#error= flash[:error]

%table
  %tr
    %th Name
    %th Description

  - recipes.each do |recipe|
    %tr
      %td= recipe.name
      %td= recipe.desc
=======
>>>>>>> Stashed changes
