%h3= recipe.name
%p= recipe.desc

%h2 Ingredients:
%ul
  - if recipe_products
    - recipe_products.each do |ingredient|
      %li
        = "#{ingredient.serving_count} of #{ingredient.serving.name} of product: #{ingredient.product.name} "

%h2 Steps:

#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
- steps.each_with_index do |step, index|
  .panel.panel-default
    .panel-heading{:role => "tab", id: "heading#{index + 1}"}
      %h4.panel-title
        %a{"aria-controls" => "collapse#{index+1}", "aria-expanded" => step_expanded?(index)[:expanded], "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index+1}"}
          = "Step #{index + 1}"
    .panel-collapse.collapse{ id: "collapse#{index+1}", class: step_expanded?(index)[:inn], "aria-labelledby" => "heading#{index+1}", :role => "tabpanel" }
      .panel-body
        = step.description
        = display_picture(step)

%br

= link_to "Add new step", new_recipe_step_path(recipe), class: "btn btn-primary"
