%h3= recipe.name
%p= recipe.desc

%h2 Steps:
%ul
  - steps.each do |step|
    %li
      = step.description
      = display_picture(step)

%br
= link_to "Add new step", new_recipe_step_path(recipe), class: "btn btn-primary"