= simple_form_for [product, serving] do |f|
  = f.input :product_id, input_html: { value: product.id }, as: :hidden
  .form-group
    = f.input :name, label: 'Serving name'
  .form-group
    = f.input :protein, label: 'Amount of protein'
  .form-group
    = f.input :fat, label: 'Amount of fat'
  .form-group
    = f.input :carbs, label: 'Amount of carb'
  .form-group
    = f.input :calories, label: 'Amount of calories'
  .form-group
    = f.button :submit, 'Add serving', class: 'btn btn-primary'